body {
    font-family: Nunito;
    background-color: pink;
    text-align: center
    background-picture: "https://rocketdevteam-my.sharepoint.com/personal/edwardthong_rocketdevteam_onmicrosoft_com/_layouts/15/download.aspx?SourceUrl=%2Fpersonal%2Fedwardthong%5Frocketdevteam%5Fonmicrosoft%5Fcom%2FDocuments%2FPC%20Wallpapers%2FNeon%2Epng";
    background-repeat: no-repeat;
}
